<!doctype html>
<html lang="en">
    <head>
      {% include "head.html" %}
    </head>
    {{ navbar }}    
    <body>
      <div class="container">
            <h4>{{ header }}</h4>
            <ul style="list-style-type:circle">
                {% for label in labels %}
                    {% set i = loop.index - 1 %}
                    <li><a href='{{ pages[i] }}'>{{ label }}</a></li>
                {% endfor %}
            </ul>
      </div>
    </body>
<footer>
  {% include "footer.html" %}
</footer>
</html>