colorama>=0.3.9
divvy>=0.5.0
eido>=0.2.1
jinja2
logmuse>=0.2.0
pandas>=2.0.2
pephubclient>=0.1.2
peppy>=0.40.0
pipestat>=0.6.0
pyyaml>=3.12
rich>=9.10.0
ubiquerg>=0.5.2
yacman>=0.9.2
pydantic-argparse>=0.8.0
pydantic-argparse==0.8.0
fastapi
uvicorn
