https://github.com/databio/mkdocs-databio/archive/master.zip
markdown-include
looper
pephubclient
mkdocs>=1.0
https://github.com/pepkit/pipestat/archive/refs/heads/master.zip
pydoc-markdown
# versioneer
# Cython
